
<div class="container-fluid" style="padding-left: 40%; padding-top: 15%;">
    <div class="card text-center" style="width: 18rem;">
      <br><br>
      <div class="center"><img class="center" [src]="'assets/images/welcome.jpg'" width="200" height="100"/></div>
      <br>
      <div class="text-center">
      <button class="btn btn-dark google-sign-in" (click)="signInHandler()">
        <img [src]="'assets/images/google.svg'" alt="google"/>
        <span>&nbsp;Continue with Google</span>
      </button>
    </div>
    <br>
    <br>
  
    </div>
  
  </div>
  